.img-wrapper{
    position: relative;
}
.img-wrapper>.cover{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.1);
}

.img-wrapper>.cover:hover{
    background: rgba(0,0,0,0);
    transition: 0.1s;
}