html{
    font-size:5px;
    color: #525252;
    opacity: .7;
}


.layout{
    display: flex;
}
.top-banner {
    background:white;
    height: 70px;
    display:flex;
    border-bottom:1px solid rgba(0,0,0,.3)
}
.top-menu{
    display: flex;
    flex-grow: 1;
    align-items: center;
    color: black;
    font-weight: bold;
    font-size: 3rem;
}
.top-menu.logo{
    padding-left: 2rem;
}
.top-menu.coupon-make-btn{
    justify-content: flex-end;
    margin-right: 40px;
    color: black;
}
.top-menu.coupon-make-btn>a{
    text-decoration: none;
    color:black;
}

.side-menu {
    flex: 0 0 170px;
    height: calc(100vh - 70px);
}
ul{
    list-style:none;
    padding:0;
}
.side-menu ul{
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
}
.side-menu ul>li{
    flex:1;
    border-bottom:1px solid rgba(0,0,0,.3);
}
/*a:hover{*/
    /*text-decoration: none;*/
    /*color:white;*/
/*}*/
a:focus{
    outline: none;
    text-decoration: none;
    color:white;
}

.side-menu ul li .menu{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 2.4rem;
    background: white;
    color:black;
}

.main-area{
    flex:1;
    background-color: #dedfdd;
}
.top-hidden-button{
    position: absolute;
    right:10px;
    top:10px;
}
/*@media (max-width: 768px) {*/
    /*.side-menu{*/
        /*flex:0 0 0;*/
        /*display: hidden;*/
    /*}*/
/*}*/
.unauthenticated-wrapper{
}
.unauthenticated-wrapper>.header{
    height:65px;
    background: white;
    border-bottom: 1px solid rgba(0,0,0,.5);
}
.unauthenticated-wrapper>.header>button{
    position: absolute;
    background: white;
    border: none;
    top:0;
    font-size:3rem;
    color: black;
    border-bottom: 1px solid rgba(0,0,0,.5);
}
.unauthenticated-wrapper>.header>button:focus{
    outline:none;
}
.unauthenticated-wrapper>.header>.register_button{
    right:100px;
    width:100px;
    height:65px;
}
.unauthenticated-wrapper>.header>.login_button{
    right:0;
    height: 65px;
    width:100px;
}
.unauthenticated-wrapper>.body{
    height: calc(100vh - 65px);
    background-color: #dedfdd;
    overflow-y: scroll;
}
