/**
 * @package Live
 * @since   1.0
 */

/*
 * Widget
 */
.widget {

	@include collapse-margins(rem(30));

	box-sizing: border-box;
	padding: rem(20) 10%;

	.ready &.bricks-item {
		@include padding(null rem(20));
		position: absolute;
	}

	// Title
	&-title {
		@extend .small-title;
		@include margin(1em null);
		@include font-extend(secondary);
	}

	p, ul, ol {
		font-size: rem(14);
		line-height: 2em;
	}

	nav {
		@extend nav;
	}

	.tag-cloud {
		@extend .tag-cloud;
	}

}

/*
 * Author widget
 */
.widget-author {

	@extend .widget;
	@extend %author;

	.featured-image {
		@include margin(rem(40) auto null);
		width: 70%;
		max-width: rem(250);
	}

	h4 {
		font-size: rem(16);
	}

	.share {

		span {
			display: none;
		}

		li:first-child {
			margin-left: 0;
		}

	}

}