/**
 * @package Live
 * @since   1.0.1
 */
/*
 * Imports
 */
/*
 * Demo switcher
 */
.demo-switcher {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -264px;
  transition: left 0.2s;
  background: #1c1c1c;
  color: #fff;
  font: 12px/1em Verdana;
  text-transform: uppercase;
  width: 264px;
  z-index: 1001;
}
.demo-switcher:hover {
  box-shadow: 3px 0 6px 0 rgba(0, 0, 0, 0.25);
  left: 0;
}
.demo-switcher:hover:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 100%;
  content: "";
  width: 40px;
}
.demo-switcher:hover .tab {
  opacity: 0;
}
.demo-switcher .demos {
  height: 100%;
  overflow: auto;
}
.demo-switcher .demos::-webkit-scrollbar {
  width: 14px;
}
.demo-switcher .demos::-webkit-scrollbar-thumb {
  border: 4px solid #1c1c1c;
  border-radius: 7px;
  background-color: #d0d0d0;
}
.demo-switcher .demos::-webkit-scrollbar-thumb:hover {
  background-color: #f0f0f0;
}
.demo-switcher .demos ul {
  list-style: none;
  position: relative;
  margin: 0;
  padding: 0 0 22px;
}
.demo-switcher .demos li {
  transition: background 0.2s;
  display: block;
  margin: 0;
  padding: 0;
}
.demo-switcher .demos li:hover {
  background: #404040;
}
.demo-switcher .demos li.active {
  background: #6e6e6e;
}
.demo-switcher .demos strong {
  color: inherit;
}
.demo-switcher .demos strong:after {
  content: ".";
}
.demo-switcher .demos a {
  color: inherit;
  text-decoration: none;
  display: block;
  padding: 25px;
}
.demo-switcher .demos a:hover {
  text-decoration: none;
}
.demo-switcher .demos img {
  display: block;
  margin: 10px 0 0;
  width: 100%;
}
.demo-switcher .tab {
  position: absolute;
  top: 35%;
  left: 100%;
  transition: opacity 0.2s;
  box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.25);
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background: inherit;
  font-size: 14px;
  line-height: 1.4em;
  cursor: pointer;
  opacity: 1;
  padding: 10px 13px;
}
.demo-switcher .tab svg {
  height: 30px;
  width: 30px;
}
.demo-switcher .tab svg * {
  fill: #fff;
}

/*# sourceMappingURL=demo-switcher.css.map */
