/**
 * @package Live
 * @since   1.0.1
 */

/*
 * Imports
 */
@import "bourbon/bourbon";

/*
 * Demo switcher
 */
.demo-switcher {

	$width: 250px+14px;

	@include position(fixed, 0 null 0 (-$width));

	transition: left 0.2s;
	background: #1c1c1c;
	color: #fff;
	font: 12px/1em Verdana;
	text-transform: uppercase;
	width: $width;
	z-index: 1001;

	&:hover {

		box-shadow: 3px 0 6px 0 rgba(0, 0, 0, 0.25);
		left: 0;

		&:after {

			@include position(absolute, 0 null 0 100%);

			content: "";
			width: 40px;

		}

		.tab {
			opacity: 0;
		}

	}

	.demos {

		height: 100%;
		overflow: auto;

		&::-webkit-scrollbar {
			width: 14px;
		}
		&::-webkit-scrollbar-thumb {
			border: 4px solid #1c1c1c;
			border-radius: 7px;
			background-color: #d0d0d0;
		}
		&::-webkit-scrollbar-thumb:hover {
			background-color: #f0f0f0;
		}

		ul {
			list-style: none;
			position: relative;
			margin: 0;
			padding: 0 0 22px;
		}

		li {

			transition: background 0.2s;
			display: block;
			margin: 0;
			padding: 0;

			&:hover {
				background: #404040;
			}

			&.active {
				background: #6e6e6e;
			}

		}

		strong {

			color: inherit;

			&:after {
				content: ".";
			}

		}

		a {

			color: inherit;
			text-decoration: none;
			display: block;
			padding: 25px;

			&:hover {
				text-decoration: none;
			}

		}

		img {
			display: block;
			margin: 10px 0 0;
			width: 100%;
		}

	}

	.tab {

		@include position(absolute, 35% null null 100%);

		transition: opacity 0.2s;
		box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.25);
		border-top-right-radius: 6px;
		border-bottom-right-radius: 6px;
		background: inherit;
		font-size: 14px;
		line-height: 1.4em;
		cursor: pointer;
		opacity: 1;
		padding: 10px 13px;

		svg {

			@include size(30px);

			* {
				fill: #fff;
			}

		}

	}

}