/**
 * @package Live
 * @since   1.0
 */

/*
 * Imports
 */
@import "bourbon/bourbon";

/*
 * Utils
 */
$hover-zoom-shadow: rgba(#000, 0.3);

$hover-flash-color: #fff;

/*
 * Base
 */
$body-background: #484341;

$text-color: #e2e2e2;
$text-alt-color: #767676;

$link-color: #fa360a;

$line-color: #3c3c3c;

$small-color: #acacac;

$mark-background: #f2300d;
$mark-color: #fff;

$headline-color: #f3f3f3;

$nav-color: $headline-color;
$nav-line-color: $line-color;

$table-border-color: #383838;
$table-header-color: $headline-color;
$table-header-background: rgba($headline-color, 0.1);
$table-highlight-background: rgba(#fff, 0.06);

$input-border-color: #0e0e0e #313131 #313131 #0e0e0e;
$input-background: #272727;
$input-text-color: #f3f3f3;
$input-placeholder-color: #878787;

$button-background: $link-color;
$button-color: #f3f3f3;
$button-disabled-background: #979797;
$button-disabled-color: #484848;
$button-success-background: #197d14;
$button-error-background: #b10404;

/*
 * Boxes
 */
$box-background-color: #181818;
$box-background-image: "../res/styles/strong/bg.png", "../res/styles/strong/bg@2x.png";

$featured-gallery-overlay-background: #000;
$featured-gallery-count-color: #fff;
$featured-gallery-count-shadow: #000;

$more-link-background: #fa360a;
$more-link-color: #fff;

$comment-timestamp-color: $text-alt-color;
$comment-line-color: $line-color;

/*
 * Elements
 */
$caption-color: $text-alt-color;

$small-title-color: $text-alt-color;

$form-links-color: $text-alt-color;

$tag-bright-color: #fff;
$tag-dark-color: #000;
$tag-background: (
	"default":   #616161 darken(#616161, 6%),
	"category":  #085d36 darken(#085d36, 6%),
	"timestamp": #288fb4,
	"comments":  #084688,
	"author":    #55646b,
	"duration":  #fa360a,
	"likes":     #d0064f,
	"visits":    #579123,
	"countdown": #c11f5a
);

$posts-list-line-color: $line-color;

$tag-cloud-border-color: #767676;
$tag-cloud-color: #f3f3f3;
$tag-cloud-hover-background: $tag-cloud-color;
$tag-cloud-hover-color: #181818;

$broadcast-line-color: $link-color;

$share-text-color: $text-alt-color;
$share-icon-color: $box-background-color;
$share-icon-background: $share-text-color;
$share-icon-active-color: #fff;
$share-icon-active-background: #288fb4;

$pagination-current-color: $link-color;

$modal-overlay: rgba(#000, 0.6);
$modal-shadow: rgba(#000, 0.5);
$modal-close-background: #767676;
$modal-close-color: #181818;
$modal-close-hover-background: $button-background;
$modal-close-hover-color: $button-color;

/*
 * Structure
 */
$header-share-icon-color: #000;
$header-share-icon-background: #fff;
$header-nav-bright-color: #f3f3f3;
$header-nav-dark-color: #212121;
$header-nav-hover-color: $link-color;
$header-nav-sub-color: $header-nav-bright-color;
$header-nav-sub-hover-color: $header-nav-hover-color;
$header-nav-sub-background: $box-background-color;
$header-nav-sub-shadow: rgba(#000, 0.2);

$end-note-text-color: $text-alt-color;
$end-note-back-background: $end-note-text-color;

/*
 * 3rd party
 */
$simple-lightbox-overlay-background: rgba(#000, 0.7);
$simple-lightbox-counter-color: #fff;
$simple-lightbox-button-color: #fff;
$simple-lightbox-spinner-color: #ccc;

@import "bootstrap";