/**
 * @package Live
 * @since   1.4
 */

/*
 * Imports
 */
@import "bourbon/bourbon";

/*
 * Utils
 */
$hover-zoom-shadow: rgba(#000, 0.2);

$hover-flash-color: #fff;

/*
 * Base
 */
$body-background: #eff1f5;

$text-color: #272727;
$text-alt-color: #767676;

$link-color: #178abb;

$line-color: #dbdbdb;

$small-color: #696969;

$mark-background: #d4ecf7;
$mark-color: $text-color;

$headline-color: $text-color;

$nav-color: $headline-color;
$nav-line-color: $line-color;

$table-border-color: $line-color;
$table-header-color: inherit;
$table-header-background: rgba($headline-color, 0.06);
$table-highlight-background: rgba(#fff, 0.3);

$input-border-color: #d9d9d9 #fff #fff #d9d9d9;
$input-background: $body-background;
$input-text-color: $text-color;
$input-placeholder-color: #8c8c8c;

$button-background: #0d4f6b;
$button-color: #f3f3f3;
$button-disabled-background: #c3c3c3;
$button-disabled-color: #484848;
$button-success-background: #197d14;
$button-error-background: #b10404;

/*
 * Boxes
 */
$box-background-color: #fff;
$box-background-image: null;

$featured-gallery-overlay-background: #000;
$featured-gallery-count-color: #fff;
$featured-gallery-count-shadow: #000;

$more-link-background: $button-background;
$more-link-color: #fff;

$comment-timestamp-color: $text-alt-color;
$comment-line-color: $line-color;

/*
 * Elements
 */
$caption-color: $text-alt-color;

$small-title-color: $text-alt-color;

$form-links-color: $text-alt-color;

$tag-bright-color: #fff;
$tag-dark-color: #000;
$tag-background: (
	"default": #0d4f6b darken(#0d4f6b, 6%)
);

$posts-list-line-color: $line-color;

$tag-cloud-border-color: #a0a0a0;
$tag-cloud-color: #0c0c0c;
$tag-cloud-hover-background: $tag-cloud-color;
$tag-cloud-hover-color: #e6e6e6;

$broadcast-line-color: $link-color;

$share-text-color: $text-alt-color;
$share-icon-color: $box-background-color;
$share-icon-background: $share-text-color;
$share-icon-active-color: #fff;
$share-icon-active-background: #5a88c4;

$pagination-current-color: #3b639f;

$modal-overlay: rgba(#000, 0.6);
$modal-shadow: rgba(#000, 0.5);
$modal-close-background: #adadad;
$modal-close-color: #e7e7e7;
$modal-close-hover-background: $button-background;
$modal-close-hover-color: $button-color;

/*
 * Structure
 */
$header-share-icon-color: #000;
$header-share-icon-background: #fff;
$header-nav-bright-color: #d8d8d8;
$header-nav-dark-color: #272727;
$header-nav-hover-color: $link-color;
$header-nav-sub-color: $header-nav-dark-color;
$header-nav-sub-hover-color: $link-color;
$header-nav-sub-background: $box-background-color;
$header-nav-sub-shadow: rgba(#000, 0.1);

$end-note-text-color: $text-alt-color;
$end-note-back-background: $end-note-text-color;

/*
 * 3rd party
 */
$simple-lightbox-overlay-background: rgba(#000, 0.7);
$simple-lightbox-counter-color: #fff;
$simple-lightbox-button-color: #fff;
$simple-lightbox-spinner-color: #ccc;

@import "bootstrap";