/**
 * @package Live
 * @since   1.1
 */

/*
 * Imports
 */
@import "bourbon/bourbon";
@import "typo";

/*
 * Fonts
 */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,700,700italic");
@include font-face("AmaticSC", "../res/fonts/amaticsc-regular");
@include font-face("AmaticSC", "../res/fonts/amaticsc-bold", bold);

/*
 * Primary, secondary
 */
#{$font-primary} {
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-weight: 300;
}

#{$font-secondary} {
	font-family: AmaticSC, Impact, Charcoal, sans-serif;
	text-transform: uppercase;
}