/**
 * @package Live
 * @since   1.4
 */

/*
 * Imports
 */
@import "bourbon/bourbon";
@import "typo";

/*
 * Fonts
 */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic");
@import url("https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700");

/*
 * Primary, secondary
 */
#{$font-primary} {
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-weight: 400;
}

#{$font-secondary} {
	font-family: "PT Sans Narrow", Impact, Charcoal, sans-serif;
	text-transform: uppercase;
}