/**
 * @package Live
 * @since   1.1
 */
/*
 * Imports
 */
/**
 * @package Live
 * @since   1.1
 */
/*
 * Fonts
 */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,700,700italic");
@font-face {
  font-family: "JustAnotherHandExtra";
  font-style: normal;
  font-weight: normal;
  src: url("../res/fonts/justanotherhandextra-regular.eot?#iefix") format("embedded-opentype"), url("../res/fonts/justanotherhandextra-regular.woff2") format("woff2"), url("../res/fonts/justanotherhandextra-regular.woff") format("woff"), url("../res/fonts/justanotherhandextra-regular.ttf") format("truetype"), url("../res/fonts/justanotherhandextra-regular.svg#JustAnotherHandExtra") format("svg");
}
/*
 * Primary, secondary
 */
body, input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6, figcaption, nav ul, table caption, button:not([class^=sl-]), input[type="button"], input[type="reset"], input[type="submit"], .button, .small-title, .archive-title, .tags, .tag-cloud, .share span, .navigation .nav-link, .navigation .post-title, .pagination, #header .logo, #footer .end-note, .box-title, .box-post .featured-gallery a[data-featured-gallery-count]:after, .box-post .meta, .box-author .box-title, .box-comments .toolbar, .box-comments .author, .widget-title, .sl-wrapper .sl-image .sl-caption {
  font-family: JustAnotherHandExtra, Impact, Charcoal, sans-serif;
  text-transform: uppercase;
}

/*# sourceMappingURL=typo-open-sans-hand.css.map */
