/**
 * @package Live
 * @since   1.1
 */

/*
 * Imports
 */
@import "bourbon/bourbon";
@import "typo";

/*
 * Fonts
 */
@import url("https://fonts.googleapis.com/css?family=Merriweather:400,400italic,700,700italic");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic");

/*
 * Primary, secondary
 */
#{$font-primary} {
	font-family: Merriweather, "Times New Roman", Times, serif;
}

#{$font-secondary} {
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
}