
.imageArea {
    position: relative;
    cursor: pointer;
    max-height: 15rem;
    overflow: hidden;
}

.textArea {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2.7rem;
    width: calc(100% - 0.8rem);
    background-color: rgba(0, 0, 0, .3);
    color: white;
    padding: 0.4rem;
}

.imageArea > img {
    margin-top: 0;
    margin-bottom: 0;
}

.inlineAreaLeft {
    display: inline-block;
    width: 60%;
    height: 100%;
}

.inlineAreaRight {
    display: inline-block;
    width: 40%;
    height: 100%;
    text-align: right;
}

.smallText {
    line-height: 1.4rem;
    font-size: 0.7rem;
}

.bigText {
    line-height: 1.4rem;
    font-size: 1rem;
}

.fontLight {
    font-weight: 100;
}

.fontBold {
    font-weight: 400;
}

.upperFlag {
    position: absolute;
    top: 0;
    right: 0.8rem;
    height: 1.5rem;
    width: 1.8rem;
    background-color: red;
    color: white;
    padding: 0.4rem;
}

.bottomFlag {
    position: absolute;
    top: 2.3rem;
    right: 0.8rem;
    width: 0;
    height: 0;
    border-left: 1.35rem solid transparent;
    border-right: 1.35rem solid transparent;
    border-top: 1rem solid #f00
}

.percentNum {
    font-weight: 400;
    font-size: 1rem;
}

.percent {
    font-weight: 200;
    font-size: 0.8rem;
}

.formArea {
    width: 100%;
    background-color: #3d424c;
    transition: height 2s ease-out;
    overflow: hidden;
}

.formArea > .datetime,.formArea > .phone {
    position: relative;
    height: 3.2rem;
}

.formArea > .datetime > input {
    position: absolute;
    top: 0.4rem;
    left: 0.4rem;
    width: calc(80% - 0.4rem);
    border: none;
    background: white;
}
.formArea > .phone > input {
    position: absolute;
    top: 0.4rem;
    left: 0.4rem;
    width: calc(100% - 0.8rem);
    border: none;
    background: white;
}
.formArea > .datetime > .clickbutton {
    cursor: pointer;
    position: absolute;
    top: .4rem;
    left: calc(80% - 0.01rem);
    width: calc(20% - .4rem);
    background: white;
    height: 2.75rem;
    background-image: url(/res/arrow_down.png);
    background-repeat: no-repeat;
    background-position: center;
}

.formArea > .selectArea {
    margin-left: 0.4rem;
    width: calc(100% - .8rem);
    background: white;
    z-index: 999;
    transition: height .2s ease-out;
    overflow-y: scroll;
}

.formArea > .selectArea > .selectList {
    height: 2.75rem;
    line-height: 2.75rem;
    padding: 0 0.7rem;
    font-size: 0.8rem;
    color: #dddddd;
    border-bottom: 1px solid #eee;
    cursor:pointer;
}
.formArea > .selectArea > .selectList:hover{
    color: black;
    transition: 0.2s;
}
.selectList>.left{
    float: left;
}
.selectList>.right{
    float: right;
}

.formArea > .selectArea.open-area {
    height: 11rem;
}

.formArea > .selectArea.closed-area {
    height: 0;
}

.formArea > div > .minus {
    position: absolute;
    background: white;
    top: 0.4rem;
    left: 0.4rem;
    height: 2.75rem;
    background-image: url(/res/substract.png);
    background-repeat: no-repeat;
    background-position: center;
    width: calc(20% - .4rem);
    cursor: pointer;
}

.formArea > div > .number {
    position: absolute;
    background: white;
    top: 0.4rem;
    left: calc(20%);
    height: 2.75rem;
    width: calc(60%);
    text-align: center;
    line-height: 2.75rem;

}

.formArea > div > .plus {
    cursor: pointer;
    position: absolute;
    background: white;
    top: 0.4rem;
    left: 80%;
    width: calc(20% - .4rem);
    background: white;
    height: 2.75rem;
    background-image: url(/res/add.png);
    background-repeat: no-repeat;
    background-position: center;
}

.formArea .submit-btn {
    margin-top: 1.7rem;
}
.formArea .submit-btn.no-margin {
    margin-top: 0.4rem;
}

.formArea .submit-btn.no-margin > button{
    background:grey;
}
.formArea .submit-btn.no-margin:hover > button {
    background:red;
}


.formArea .submit-btn > button {
    position: absolute;
    left: 0.4rem;
    top: 0;
    width: calc(100% - 0.8rem);
    background: red;
}

.open-area.formArea {
    max-height: 28.7rem;
}

.closed-area.formArea {
    height: auto;
    max-height: 0;
}
.phone-check{
    position: absolute;
    top: 0.9rem;
    width: 1.7rem;
    height: 1.7rem;
    right: 0.7rem;
    background-image: url(/res/check.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}

.description{
    padding:0.4rem;
    color: white;
}
.description > ul > li{
    font-size: 0.3rem;
    font-weight:lighter;
}