.chat .panel-body{
    min-height: 300px;
    max-height: 50vh;
}
.chat .panel-body p{
    font-size: 2em;
}
.specific-info-panel .panel-body{
    padding: 5px;
    color: black;
}
.specific-info-panel .well{
    padding:10px 19px 0px 19px;
    margin-bottom:0px;
    background-color: white;
    min-height:300px;
}
.specific-info-panel .panel-footer{
    border: 6px solid #30a5ff;
    border-top: none;
    border-radius: 3px;
}
.specific-info-panel .btn{
    border-radius: 0 !important;
}
.specific-info-panel .panel-footer{
   padding: 0 !important;
}
a, a:hover, a:focus{
    cursor:pointer;
    text-decoration: none;
    color: inherit;
}