

.masonry-wrapper{

}
.masonry-container{

}
.imageArea{
    position: relative;
    height: 12rem;
    overflow: hidden;
}
.imageArea>.tags{
    position: absolute;
    bottom:0;
    left:0;
    padding:0;

}
.imageArea>.tags>div{
    display: inline-block;
    opacity:0.7;
    background:black;
    margin:0;
    font-size:0.8rem;
    padding: 0 0.7rem;
}
.imageArea>.tags>div>span{
    line-height: 1.5rem;
    color: white;
    font-weight: bold;
    opacity: 1;
}
.bodyArea{
    padding: 1rem;
    background-color: white;
}
.bodyArea>span{
    font-size:1.2rem;
}
img{
    width: 100%;
    margin:0;
}
.footerArea{
    position: relative;
    background-color: white;
    height:2rem;
}
.footerArea>.share{
    position: absolute;
    left:0.5rem;
    bottom:0.3rem;
    height:2rem;
    padding:0;
     margin-top: 0;
     margin-bottom: 0;
}
.footerArea>.share>li{
    width: 1.3rem;
    height: 1.3rem;
    margin: 0 0 0 .5rem
}
.footerArea>button{
    position: absolute;
    right:0;
    top:0;
    width: 3rem;
    height:2rem;
    padding:0;
    margin:0;
    line-height:2rem;
}
.footerArea>button>span{
    font-size: 0.8rem;
    font-weight:100;
}