.item-wrapper{
    display: flex;
    height: 150px;
    background-color: white;
    margin-bottom:30px;
    padding: 13px;
}
.item-wrapper>.left-area{
    flex: 1;
    display:flex;
    padding: 10px 10px 10px 0;
    flex-direction: column;
    align-items: flex-start;
    border-right: 2px solid #40c2d3;
}
.item-wrapper>.left-area>div.time{
    flex:1;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width:100%;
    font-size: 4rem;
    color: #40c2d3;
}
.item-wrapper>.middle-area{
    flex: 5;
    padding:10px;
    font-weight: bold;
    font-size: 3rem;
}
.item-wrapper>.middle-area>.food-name{
    color: black;
}
.item-wrapper>.middle-area>.food-count{
    margin-left: 10px;
    color: #40c2d3;
}
.item-wrapper>.right-area{
    flex: 1.1;
}
.item-wrapper>.right-area>.button{
    height:100%;
    border: 2px solid #40c2d3;
    display: flex;
    flex-direction:column;
    cursor: pointer;
    padding: 10px;
    color:#40c2d3;
}
.item-wrapper>.right-area>.button:hover{
background: rgb(67, 188, 179);
    color:white;
}
.item-wrapper>.right-area>.button>.upper-info{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2.4rem;
    font-weight:bold;
}
.item-wrapper>.right-area>.button>.bottom-info{
    flex:1;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2.4rem;
    font-weight:lighter;
}
.item-wrapper>.right-area>.button:hover>.bottom-info{
    display: none;
}