.wrapper{
    display: flex;
    padding:15px;
}
.wrapper>.menu-list{
    flex:1;
    margin-right:15px;
    background-color: white;
    height:calc(100vh - 110px);
}
.menu-list>.title{
    padding: 15px;
    font-size:4rem;
    color: #40c2d3;
}
.menu-list>.menu-list-items{
    height:calc(100vh - 100px - 30px - 4rem);
    overflow-y: scroll;
}
.menu-list>.menu-list-items>.menu-item{
    font-size: 3rem;
    padding:15px;
    cursor: pointer;
}
.menu-list>.menu-list-items>.menu-item:nth-child(2n+1){
    background-color: #dedfdd;
}
.menu-list>.menu-list-items>.empty{
    height:100%;
    width:100%;
    display: flex;
    align-items: center;
    justify-items: center;
}
.menu-list>.menu-list-items>.empty>.empty-content{
    flex:1;
    text-align: center;
    color: #525252;
    opacity: .7;
}
.menu-list>.menu-list-items>.empty>.empty-content>a{
    margin-bottom: 20px;
    display: block;
    cursor: pointer;
}
.wrapper>.menu-preview{
    flex:1;
    background-color: white;
    display: flex;
    flex-direction: column;
    position: relative;
}
.menu-preview>.title{
    flex-basis: calc(4rem + 17px);
    padding: 15px;
    font-size:4rem;
    color: #40c2d3;
}
.menu-preview>.preview{
    flex:1;
}
.menu-preview>.overlay{
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,.4);
}
.menu-preview>.buttons{
    flex-basis: 80px;
    display: flex;
    border: none;
    font-size: 3rem;
    font-weight:500;
    color: white;
}
.menu-preview>.buttons>button:focus{
    outline: none;
}
.menu-preview>.buttons>.delete{
    border: inherit;
    flex:1;
    background-color: #525252;
}
.menu-preview>.buttons>.edit{
    border: inherit;
    flex:1;
    background-color: #40c2d3;
}