.wrapper{
    display: flex;
    flex-direction: column;
}
.wrapper>.upper-area{
    flex:1;
    display: flex;
    padding: 25px;
}
.wrapper>.upper-area>.item-brief{
    flex:1;
    text-align: center;
}
.wrapper>.upper-area>.item-brief>.title{
    font-size:4rem;
    color: #40c2d3;
    margin-bottom: 20px;
}
.wrapper>.upper-area>.item-brief>.icon{
    height: 100px;
}
.wrapper>.upper-area>.item-brief>.price{
    margin-top: 20px;
    font-size:3rem;
    color: #40c2d3;
}
.wrapper>.upper-area>.item-specific{
    flex:1;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.wrapper>.upper-area>.item-specific>.duration{
    font-size: 3rem;
}
.wrapper>.upper-area>.item-specific>.duration>.date{
    font-size: 4rem;
    color: #40c2d3;
}
.wrapper>.upper-area>.item-specific>.description{
    font-size: 3rem;
    margin-top:10px;
}
.wrapper>.bottom-area{
    flex-basis: 70px;
    display: flex;
}
.wrapper>.bottom-area>button{
    flex:1;
    border:none;
    color: white;
    font-size: 3rem;
}