.wrapper{
    flex:1;
    max-width:250px;
    margin-right: 10px;
    background-color: white;
    text-align: center;
}
.content-wrapper{
    padding: 2rem 5rem;
}
.content-wrapper>.title{
    font-size: 4rem;
    color: #40c2d3;
    margin-bottom: 10px;
}
.content-wrapper>.price{
    font-size: 3rem;
    margin-bottom: 10px;
    color: #40c2d3;
}
.content-wrapper>.icon{
    height: 100px;
}
.content-wrapper>.description{
    font-size: 3rem;
}
.wrapper>.buy-btn{
    background: #40c2d3;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 22px 0;
}
