.wrapper{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-area{
    width: 300px;
}
.login-area>.title{
    text-align: center;
    font-weight:bold;
    font-size: 18px;
}
.login-area>.id{
    margin-top:30px;
}
.login-area>.pw{
    margin-top:3px;
}
.login-area input{
    width:100%;
    line-height: 40px;
    padding-left: 10px;
    border: none;
}
.login-area>.find_pw{
    text-align: right;
    font-size: 10px;
    margin-top:5px;
}
.login-area>.find_pw>a{
    color: black;
    cursor: pointer;
}
.login-area>.login-btn{
    margin-top:20px;
}
.login-area>.login-btn>button{
    width:100%;
    text-align: left;
    padding:10px 0 10px 15px;
    color: white;
    font-weight:bold;
    background-color: #40c2d3;
    border:none;
}