.wrapper{
    padding: 15px 20px 25px 20px;
    display: flex;
    min-height: 100px;
    background: white;
}
.left-area{
    flex:1;
}
.left-area>.menu-title{
    font-size: 4rem;
    color: #40c2d3;
    margin-bottom: 10px;
}
.left-area>.statistic{
    font-size: 3rem;
    margin-bottom: 5px;
}
.left-area>.statistic>.count{
    font-size: 4rem;
    color: #40c2d3;

}
.right-area{
    flex:1;
    text-align: right;
    font-size: 3rem;
}
.right-area>.price{
    font-size: 4rem;
    color: #40c2d3;
}