.wrapper{
    display: flex;
    padding:15px;
}
.wrapper>.menu-generate{
    flex:1;
    margin-right:15px;
    background-color: white;
    height:calc(100vh - 110px);
    position: relative;
}
.menu-generate>.title{
    padding: 15px;
    font-size:4rem;
    color: #40c2d3;
}
.menu-generate>.input-group{
    padding: 15px;
    height:calc(100vh - 235px);
    overflow-y: scroll;
}
.menu-generate>.input-group>.text-input{
    margin-bottom: 10px;
}
.menu-generate>.input-group>.number-input{
    margin-bottom: 10px;
    margin-top: 20px;
}
.menu-generate>.input-group>.tag-input{
    margin-bottom: 10px;
    margin-top: 20px;
}
.menu-generate>.input-group>button{
    position: absolute;
    bottom:0;
    left:0;
    width:100%;
    height: 70px;
    background-color: #40c2d3;
    border:none;
    color: white !important;
    font-size: 3rem;
}
.wrapper>.menu-preview{
    flex:1;
    background-color: white;
    display: flex;
    flex-direction: column;
    position: relative;
}
.menu-preview>.title{
    flex-basis: calc(4rem + 17px);
    padding: 15px;
    font-size:4rem;
    color: #40c2d3;
}
.menu-preview>.preview{
    flex:1;
}
