.wrapper{
    display: flex;
    flex-direction: row;
}
.wrapper>input{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip:rect(0,0,0,0);
    border: 0;
}
.wrapper>label{
    height:170px;
    line-height:40px;
    flex:1;
    background:  #dedfdd;
    margin-bottom:0;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
}