.wrapper{
    flex-direction: row;
    font-size: 2.4rem;
}
.wrapper>.tag-list{
    display: flex;
    flex-wrap: wrap;
    max-height: 300px;
    overflow-y: scroll;
}
.tag-list>.tag-item{
    height:40px;
    background-color: #dedfdd;
    display: flex;
    flex:1;
    min-width: 20%;
    justify-content: center;
    align-items: center;
    font-size: inherit;
    font-weight: 400;
    cursor: pointer;
    margin:5px;
}
.wrapper>.placeholder{
    color: inherit;
    font-size:inherit;
    display: flex;
    margin-bottom: 10px;
}
.placeholder>.title{
    flex:2;
    text-align: left;
}
.placeholder>.count-status{
    flex:1;
    color: #40c2d3;
    text-align: right;
}