.wrapper{
    display: flex;
    flex-direction: row;
    height: 70px;
}
.minus-btn{
    flex-basis: 70px;
    height: 100%;
}
.plus-btn{
    flex-basis: 70px;
    height: 100%;
}
.number-display{
    flex:1;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.number-display>.number{
    color: #40c2d3;
    font-size: 4rem;
}
.number-display>.placeholder{
    font-size: 2.4rem;
    margin-top: 10px;
}