.wrapper{
    width: 300px;
    margin:auto;
    border:1px solid #eee;
}
.imageArea {
    position: relative;
    cursor: pointer;
    min-height: 200px;
    max-height: 200px;
    overflow: hidden;
}

.textArea {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50px;
    width: 100%;
    background-color: rgba(0, 0, 0, .3);
    color: white;
    padding: 0.4rem;
}

.imageArea > img {
    margin-top: 0;
    margin-bottom: 0;
}

.inlineAreaLeft {
    display: inline-block;
    width: 60%;
    height: 100%;
}

.inlineAreaRight {
    display: inline-block;
    width: 40%;
    height: 100%;
    text-align: right;
}

.smallText {
    line-height: 20px;
    font-size: 15px;
}

.bigText {
    line-height: 24px;
    font-size: 20px;
}

.fontLight {
    font-weight: 100;
}

.fontBold {
    font-weight: 400;
}

.formArea {
    width: 100%;
    background-color: #3d424c;
    overflow: hidden;
}

.formArea > .datetime,.formArea > .phone {
    position: relative;
    height: 3.2rem;
}

.formArea > .datetime{
    height: 50px;
    margin-bottom:10px;
}
.formArea > .phone > input {
    position: absolute;
    top: 0.4rem;
    left: 0.4rem;
    width: calc(100% - 0.8rem);
    border: none;
    background: white;
}
.formArea > .datetime > .clickbutton {
    cursor: pointer;
    position: absolute;
    top: .4rem;
    left: calc(80% - 0.01rem);
    width: calc(20% - .4rem);
    background: white;
    height: 2.75rem;
    background-image: url(/res/arrow_down.png);
    background-repeat: no-repeat;
    background-position: center;
}


.formArea > div > .minus {
    position: absolute;
    background: white;
    top: 0.4rem;
    height: 100%;
    background-image: url(/res/substract.png);
    background-repeat: no-repeat;
    background-position: center;
    width: calc(20% - .4rem);
    cursor: pointer;
}

.formArea > div > .number {
    position: absolute;
    background: white;
    top: 0.4rem;
    left: calc(20%);
    height: 100%;
    width: calc(60%);
    text-align: center;
    line-height: 50px;
    font-size: 20px;

}

.formArea > div > .plus {
    cursor: pointer;
    position: absolute;
    background: white;
    top: 0.4rem;
    left: 80%;
    width: calc(20%);
    background: white;
    height: 100%;
    background-image: url(/res/add.png);
    background-repeat: no-repeat;
    background-position: center;
}

.formArea .submit-btn {
    margin-top: 1.7rem;
}
.formArea .submit-btn.no-margin {
    margin-top: 0.4rem;
}

.formArea .submit-btn.no-margin > button{
    background:grey;
}
.formArea .submit-btn.no-margin:hover > button {
    background:red;
}


.formArea .submit-btn > button {
    position: absolute;
    left: 0.4rem;
    top: 0;
    width: calc(100% - 0.8rem);
    background: red;
}

.open-area.formArea {
    max-height: 200px;
    padding: 7px;
}

.phone-check{
    position: absolute;
    top: 0.9rem;
    width: 1.7rem;
    height: 1.7rem;
    right: 0.7rem;
    background-image: url(/res/check.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}
.description{
    color:black;
    background: white;
}