.wrapper{
    display: flex;
    flex-direction: row;
}
.wrapper>input{
    line-height:2.4rem;
    font-size: 2.4rem;
    flex:2;
    padding:10px;
    border:none;
    background: #dedfdd;
}
.wrapper>label{

    flex:1;
    background: rgb(67, 188, 179);
    margin-bottom:0;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
}