.wrapper{
    display: flex;
    flex-direction: row;
}
.wrapper>textarea{
    line-height:2.4rem;
    font-size: 2.4rem;
    flex:2;
    width: 100%;
    height: 10rem;
    padding:10px;
    border:none;
    background: #dedfdd;
    resize:none;
}
